<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BarCodePage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
    <h1>SamplePage(BarCode)</h1>
    <div class="col-md-12">
        <br/>
        <br/>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>番号</th>
                <th>BarCode</th>
                <th>QRCode</th>
                <th>名称</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:each="site : ${sites}">
                <td></td>
                <td>
                <div th:id="${site.name}"  style="margin-top:30px;" ></div>
                </td>
                <td>
                <div id="qrTarget" style="margin-top:30px;"></div>
                </td>
                <td th:text="${site.code}">modifiedDate</td>
            </tr>
            </tbody>
        </table>
    </div>


    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/lib/jquery-barcode.js"></script>
    <!--custom js 추가-->
    <script src="/js/app/barcode.js"></script>

    <!-- barcode作成 -->
    <script type="text/javascript">

    $("#googleA").barcode("www.google.com", "code128");
    $("#naverA").barcode("www.naver.com", "code128");


    </script>


</body>
</html>